<div class="mb-5" id="nav-container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" fxFlex>
    <div class="container-fluid">
      <a class="navbar-brand" (click)="route('/')">Magic Shop</a>
      <div class="collapse navbar-collapse" fxLayout="row" fxLayoutAlign="space-between center" id="navbarSupportedContent">
        <div *ngIf="isAuthenticated">
          <ul class="navbar-nav">
            <li *ngFor="let navItem of navItems" class="nav-item">
              <a (click)="route(navItem.link)" aria-current="page" class="nav-link">{{navItem.name}}</a>
            </li>
          </ul>
        </div>
      </div>
      <authentication-user-panel></authentication-user-panel>
    </div>
  </nav>
</div>
